<!DOCTYPE html>
<html>
<head>
        <title>Hotter or colder?</title>
        <link href='bootstrap/dist/css/bootstrap.css' rel='stylesheet'>
        <link type="text/css" rel="stylesheet" href="bootswatch.css"/>
        <link rel="stylesheet" href="/css/font-awesome.css">
        <link href="font-awesome/css/font-awesome.css" rel="stylesheet">
        <link type="text/css" rel="stylesheet" href="stylesheet.css"/>
        <link rel="shortcut icon" href="favicon.ico">
        
        <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-42735744-3', 'hotterorcolder.com');
  ga('send', 'pageview');

</script>


</head>

<body>
<div class="container marketing">
    <br><br><br>
    <div class="featurette">
        <div class="row">

          <img class="featurette-image img-circle pull-right box_image_form" data-src="holder.js/270x270" alt="270x270" style="width: 270px;" src="/colder1.jpg">
        
        
          <img class="featurette-image img-circle pull-left box_image_form" data-src="holder.js/270x270" alt="270x270" style="width: 270px;" src="/hotter1.jpg">

          <!--<div class="box">-->
            <h1 class="featurette-heading">A weather forecast
            <span class="text-muted">you can feel.</span></h1>

<script type="text/javascript">var submitted=false;</script>
        <iframe name="hidden_iframe" id="hidden_iframe" style="display:none;" onload="if(submitted) {window.location='/thanks';}"></iframe>
        <form action="https://docs.google.com/forms/d/1zkKIVs9eryrfNI_QYwtwCqTPrCP9-bOGB6SG_zJOIv8/formResponse" method="post"
target="hidden_iframe" onsubmit="submitted=true;">
            
            <br>
              <div class="form-group">
                <label for="name">Name</label>
                <br>
                <input class="form-control" name="entry.1047035367" id="entry_1047035367">
              </div>
              <br>
              <!--<div class="form-group">
                <label for="email">Email</label>
                <br>
                <input type="email" name="entry.377714940" id="entry_377714940" class="form-control" id="email">
              </div>-->
              
              <div class="form-group">
                <label for="email">Location</label>
                <br>
                <input type="location" name="entry.1459244761" id="entry_1459244761" class="form-control" id="location_suggestion" >
              </div>
              <span class="help-block">Currently we can only add locations within the UK.</span>
             
            <br>
                <button type="button submit" name="submit" value="Submit" class="btn red_button dropdown_font">    Add my city</button>
                </form>
<br><br><br>
                
          <!--</div>-->

        </div>
    </div>

    <br>
      <div class="text-center bottom-line">
        <p>Written in <a href="http://www.ruby-lang.org/en/">Ruby</a> using <a href="http://www.sinatrarb.  com/">Sinatra</a>, hosted by <a href="https://www.heroku.com/‎">Heroku</a>. Created and maintained  by <a href="http://www.linkedin.com/profile/view?id=74277996">Grace</a> and <a href="http://www. linkedin.com/profile/view?id=57766237">Archy</a>.</p>
        <p>With help and support from <a href="http://www.codefirstgirls.org.uk/"><img class="logo" src= "  http://www.codefirstgirls.org.uk/uploads/1/9/8/9/19897181/1376300268.png"></a></p>
      </div>

</div>
</body>
</html>
