<!DOCTYPE html>
<html>
<head>
        <title>Hotter or colder?</title>
        <link href='bootstrap/dist/css/bootstrap.css' rel='stylesheet'>
        <link type="text/css" rel="stylesheet" href="bootswatch.css"/>
        <link rel="stylesheet" href="/css/font-awesome.css">
        <link href="font-awesome/css/font-awesome.css" rel="stylesheet">
        <link type="text/css" rel="stylesheet" href="stylesheet.css"/>
        <link rel="shortcut icon" href="favicon.ico">
        <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-42735744-3', 'hotterorcolder.com');
  ga('send', 'pageview');

</script>


</head>

<body>
<div class="container marketing">
    <br><br><br>
    <div class="featurette">
        <div class="row">

          <img class="featurette-image img-circle pull-right box_image" data-src="holder.js/270x270" alt="270x270" style="width: 270px;" src="/colder1.jpg">
        
        
          <img class="featurette-image img-circle pull-left box_image" data-src="holder.js/270x270" alt="270x270" style="width: 270px;" src="/hotter1.jpg">

          <!--<div class="box">-->
            <h1 class="featurette-heading">A weather forecast
            <span class="text-muted">you can feel.</span></h1>
            <br>
            <form method='post' class="form-inline">
            
              <div id="location">
                <label>Location</label>
              
                <select class="form-control input-lg dropdown" name="location">
                  <option>Bristol</option>
                  <option>Cambridge</option>
                  <option>London</option>
              </div>
                </select>
          <br><br>
              <div id="when">
                <label>When for?   </label>
              
                <select class="form-control input-lg dropdown" name="when_for">
                  <option>Today</option>
                  <option>Tomorrow</option>
                </select>
              </div>
                    <br><br>
                <table class="table-box">
                  <tr>
                    <td><button type="button submit" name="submit" value="temperature-button" class="btn btn-warning dropdown_font" id="hotter">    Hotter or colder?</button></td>
                                   
                    <td><button type="button submit" name="submit" value="rainfall-button" class="btn btn-info dropdown_font" id="rain">   Wetter or drier?</button></td>
                  </tr>
                                   
                  <tr>
                    <td><button type="button submit" name="submit" value="cloud-button" class="btn btn-default dropdown_font" id="cloud">    Cloudier or clearer?</button></td>
                                   
                    <td><button type="button submit" name="submit" value="wind-button" class="btn btn-success dropdown_font" id="wind">    Windier or stiller?</button></td>
                  <tr>
                 </table> 
                </form>
          <!--</div>-->

        </div>
    </div>

    <br><br><br><br><br>
      <div class="text-center bottom-line">
        <p>Written in <a href="http://www.ruby-lang.org/en/">Ruby</a> using <a href="http://www.sinatrarb.  com/">Sinatra</a>, hosted by <a href="https://www.heroku.com/‎">Heroku</a>. Created and maintained  by <a href="http://www.linkedin.com/profile/view?id=74277996">Grace</a> and <a href="http://www. linkedin.com/profile/view?id=57766237">Archy</a>.</p>
        <p>With help and support from <a href="http://www.codefirstgirls.org.uk/"><img class="logo" src= "  http://www.codefirstgirls.org.uk/uploads/1/9/8/9/19897181/1376300268.png"></a></p>
      </div>

</div>
</body>
</html>
