<!DOCTYPE html>
<html>
<head>
    <title>Hotter or colder</title>
    <link href='/bootstrap/css/bootstrap.css' rel='stylesheet'>
    <link type="text/css" rel="stylesheet" href="bootswatch.css"/>
    <link rel="stylesheet" href="/css/font-awesome.css">
    <link href="font-awesome/css/font-awesome.css" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="stylesheet.css"/>
</head>
<body>
    <div class='container marketing'>
<br><br><br><br><br>
    <div class="row">

        <img class="featurette-image img-circle pull-right box" data-src="holder.js/270x270" alt="270x270" style="width: 270px;" src="/colder1.jpg">

        <img class="featurette-image img-circle pull-left box" data-src="holder.js/270x270" alt="270x270" style="width: 270px;" src="/hotter1.jpg">

    <div class="featurette">

    <blockquote>
    <h1 class="featurette-heading">Update already done today</h1>
    </blockquote>
</div>

</div>
</div>
</body>
</html>