.box {
    margin-left: 10px;
    margin-right: 10px;
}

.dropdown_font {
    font-size: 18px;
}

#hotter{
    padding-left: 19px;
    padding-right: 19px;
}

#rain{
    padding-left: 16px;
    padding-right: 16px;
    background-color: #3333CC;
    border-color: #3333CC;
}

#wind{
    padding-left: 10px;
    padding-right: 10px;
}

#cloud{
    padding-left: 10px;
    padding-right: 10px;
}

#when{
    padding-left: 5px;
}

#location{
    padding-left: 15px;
}

.dropdown{
    width: 25%;
}

.bottom-line{
    padding: 15px 0 10px 10px;
}

.logo{
    width: 15%;
    height: 15%;
}

.box_image{
    margin-bottom: 70px;
    margin-top: 70px;
    margin-left: 10px;
    margin-right: 10px;

}

.table-box{
   padding-bottom: 5px; 
}