.pagination-centered{text-align:center;}

.box {
    margin-left: 10px;
    margin-right: 10px;
}

.dropdown_font {
    font-size: 18px;
}

#hotter{
    padding-left: 50px;
    padding-right: 50px;
}

#rain{
    padding-left: 26px;
    padding-right: 26px;
    background-color: #3333CC;
    border-color: #3333CC;
}

#wind{
    padding-left: 20px;
    padding-right: 20px;
}

#cloud{
    padding-left: 10px;
    padding-right: 10px;
}

#when{
    padding-left: 5px;
}

#location{
    padding-left: 15px;
}

.dropdown{
    width: 25%;
}

.bottom-line{
    padding: 15px 0 10px 10px;
}

.logo{
    width: 15%;
    height: 15%;
}

.box_image_right{
    margin-bottom: 80px;
    margin-top: 80px;
    margin-left: 0px;
    margin-right: 170px;

}

.box_image_left{ 
    margin-bottom: 80px;
    margin-top: 80px;
    margin-left: 170px;
    margin-right: 0px;
}

.box_image_form{
    margin-bottom: 90px;
    margin-top: 90px;
    margin-left: 10px;
    margin-right: 10px;

}

.table-box{
   padding-bottom: 5px; 
   margin-left: 100px;
}

.red_button{
    background-color: #97310e;
    border-color: #97310e;
    color: white;
    margin-left: 130px;
}

.red_button_label{
    margin-bottom: 7px;
    font-size: 16px;
}

.form-control{
    width: 350px;
}

.form-control-location{
    width: 300px;
}

.form-control-when{
    width: 290px;
}

